@tailwind base;
@tailwind components;
@tailwind utilities;

.text-xxs {
  font-size: 0.625rem;
}

.sidebar-slide-in {
  animation: slide-in 0.5s forwards;
}

.sidebar-slide-out {
  animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(0);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.5);
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}